.hidden{
  // display: none;
}

.message-list {
  .message {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    border-radius: 5px;

    &>input {
      width: 150px;
      margin: 10px;

      &:focus {
        outline: none;
      }

      padding: 2px;
      justify-self: flex-end;
    }

    &>div {
      display: grid;
      grid-template-columns: 1fr 30px;
      align-content: center;
      margin: 10px;

      &>textarea {
        padding: 2px;
        outline: none;
        width: 190px;
        min-height: 50px;
        resize: none;
        border: none;
        border-bottom: 1px solid gray;
        overflow: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          width: 0;
        }
      }

      &>button {
        background: none;
        border: none;
        cursor: pointer;

        &>img {
          align-self: center;
          width: 30px;
          height: 30px;
        }
      }
    }

    &>button {
      width: 100px;
      text-transform: uppercase;
      justify-self: center;
      margin-bottom: 10px;
    }
  }
}