.header {
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: coral;
  min-height: 70px;

  &>ul {
    padding: 5px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;

    &>li {
      &>a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        &:active {
          color: aquamarine;
        }
      }
    }
  }
}