* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

.container {
  max-width: 1160px;
  min-width: 374px;
  padding: 10px;
}

.message-list .message {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  border-radius: 5px;
}

.message-list .message > input {
  width: 150px;
  margin: 10px;
  padding: 2px;
  justify-self: flex-end;
}

.message-list .message > input:focus {
  outline: none;
}

.message-list .message > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px;
      grid-template-columns: 1fr 30px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 10px;
}

.message-list .message > div > textarea {
  padding: 2px;
  outline: none;
  width: 190px;
  min-height: 50px;
  resize: none;
  border: none;
  border-bottom: 1px solid gray;
  overflow: scroll;
  scrollbar-width: none;
}

.message-list .message > div > textarea::-webkit-scrollbar {
  width: 0;
}

.message-list .message > div > button {
  background: none;
  border: none;
  cursor: pointer;
}

.message-list .message > div > button > img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30px;
  height: 30px;
}

.message-list .message > button {
  width: 100px;
  text-transform: uppercase;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 10px;
}

.chat-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4fr 1fr;
      grid-template-rows: 4fr 1fr;
  height: 100%;
  min-width: 250px;
}

.chat-list > nav {
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 5px;
}

.chat-list > nav::-webkit-scrollbar {
  width: 0;
}

.chat-list > nav .MuiCollapse-wrapperInner {
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px;
      grid-template-columns: 1fr 40px;
}

.chat-list > nav .MuiCollapse-wrapperInner > a {
  text-decoration: none;
  color: black;
}

.chat-list > nav .MuiCollapse-wrapperInner > a:visited {
  color: #005219;
}

.chat-list .form-chat {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 30px 30px;
      grid-template-rows: 30px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 250px;
  border-radius: 5px;
}

.chat-list .form-chat > input {
  padding: 10px;
  margin: 5px;
  max-height: 50px;
}

.chat-list .form-chat > button {
  margin: 5px;
  height: 30px;
}

.message-text {
  height: 250px;
  list-style: none;
  border: 1px solid rebeccapurple;
  margin: 10px;
  border-radius: 5px;
  overflow: scroll;
  scrollbar-width: none;
  background-image: url("images/fon/fon.png");
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
}

.message-text::-webkit-scrollbar {
  width: 0;
}

.message-text > li {
  max-width: 200px;
  border: 2px solid #037e1e;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  background-color: azure;
  list-style-position: outside;
}

.message-text > li > p {
  text-align: right;
  font-size: 10px;
  margin-top: 10px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  background-color: coral;
  min-height: 70px;
}

.header > ul {
  padding: 5px;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[2];
      grid-template-columns: repeat(2, 100px);
  gap: 5px;
}

.header > ul > li > a {
  text-decoration: none;
}

.header > ul > li > a:active {
  color: aquamarine;
}

.chats {
  position: absolute;
  display: -ms-grid;
  display: grid;
  min-height: 400px;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  border: 1px solid #970202;
  border-radius: 5px;
}

.message-list-enter {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.message-list-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.message-list-exit {
  opacity: 1;
}

.message-list-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}
/*# sourceMappingURL=style.css.map */