* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

.container {
  max-width: 1160px;
  min-width: 374px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.chats {
  display: grid;
  max-width: 500px;
  grid-template-columns: 250px 250px;
  border: 1px solid rgb(151, 2, 2);
  border-radius: 5px;
}

@import './components/form';
@import './pages/app';
@import './components/formChat'